/** {
    border: 1px solid red !important;
}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
body {
  font-family: 'Lato', sans-serif;
  color:#2d3c49;
  font-weight:300;
}
.text-lighter{
  font-weight:100;
}
.text-muted{
  color:#BCBBBB;
}
.title{
  font-size: 60px;
}
.fa{
  color: #02b3e4;
  margin-top: 10%;
}
.project{
  text-align: center;
}
#social{
  padding-top: 20%;
}
